#search_input_container {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

#search_bar {
    height: 40px;
    width: 30vw;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid gray;
    outline-color: #29854D;
}

#search_button {
    margin-left: 10px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#search_foundItem_container {
    width: 30vw;
    height: max-content;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

#no_item_box {
    width: 30vw;
    height: 60px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_item_box {
    width: 30vw;
    height: 40px;
    background-color: rgba(38, 255, 0, 0.331);
    display: flex;
    align-items: center;
    position: relative;
}

#search_item_box:hover {
    background-color: rgba(37, 211, 7, 0.331);
}

#search_item_box_text {
    margin-left: 10px;
    color: #29854D;
}