#profile_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.iconContainer2 {
    background-color: white;
    margin-right: 5px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.iconContainer2:hover {
    /* background-color: rgba(22, 151, 41, 0.309);
    transition: background-color 300ms ease-in; */
    box-shadow: 0px 0px 10px #29854D;
    transition: box-shadow 300ms ease-in;
}

.icon2 {
    width: 32px;
    height: 32px;
    pointer-events: none;
    user-select: none;
}

.profile_section {
    background-color: white;
    position: absolute;
    bottom: -45px;
    right: 0;
    box-shadow: 0px 0px 10px rgb(56, 184, 34);
    border-radius: 7px;
    visibility: hidden;
    z-index: 1;
    width: 100px;
    text-align: center;
    overflow-x: hidden;
}

#profile_Container:hover .profile_section {
    visibility: visible;
}

#uname_text {
    margin: 10px;
    white-space: nowrap;
}